*{
    margin: 0%;
    padding: 0%;
}
body,main{
    height: 100%;
    width: 100%;
    background-color: #548687
}

#container{
    position: absolute;
    /* background-color: red; */
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    gap: 2vmin;
    margin-top: 2rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #ffffc7;
    color: rgb(170, 77, 77);
    font-family: Arial;
}

#Win{
    text-align: center;
}
#newBtn{
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 20vmin;
    transition: opacity 0.8s;
    cursor: pointer;
}
#newBtn:hover{
    opacity: 0.8;
}

#newBtn:active{
    background-color:rgb(72, 62, 62);
}
.hide{
    display: none;
}
#msg{
    color: #ffffc7;
    margin: 2vmin;
}

#resetBtn{
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 20vmin;
    transition: opacity 0.8s;
    cursor: pointer;
    margin-top: 1rem;
}
#resetBtn:hover{
    opacity: 0.8;
}

#resetBtn:active{
    background-color: rgb(72, 62, 62);
}


@media screen and (max-width: 500px) {
    #container{
        width: 90vmin;
    }
    .box{
        height: 25vmin;
        width: 25vmin;
        font-size: 12vmin;
    }
}