*{
    margin: 0%;
    padding: 0%;
}
body,main{
    height: 100%;
    width: 100%;
    background-color: #548687
}

#container{
    position: absolute;
    /* background-color: red; */
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    gap: 2vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #ffffc7;
    color: rgb(170, 77, 77);
}

